<!DOCTYPE html>
<html lang="en">
<head>
  <title>Event Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'bootstrap/header' %>

<nav class="container-fluid">
</nav>

<div class="container-fluid last">
  <div class="row">
    <%= render 'layouts/left_sidebar' %>
      <%= yield %>
    <%= render 'layouts/right_sidebar' %>
  </div>
</div>

<%= render 'bootstrap/footer' %>
</body>
</html>
